DEBUG = True

DB_USER = user
DB_PASSWORD = password
DB_HOST = postgres
DB_PORT = 5432
DB_DATABASE = database

INITIAL_ADMIN_USERNAME = admin
INITIAL_ADMIN_PASSWORD = admin
ADMIN_ROLE_CODE = SUPER_ADMIN
ADMIN_ROLE_NAME = Технический администратор
